<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Link para Css -->
    <link rel="stylesheet" href="/css/style.css">

    <!-- Link para íconos -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />

    <!--Título-->
    <title>Mercadoliebre</title>

</head>

<body>
    <header>

        <!--Logo-->
        <div class="logo-container">
            <img src="/images/logo-mercado-liebre.svg" alt="logo-mercado-liebre" class="logo">
        </div>

        <!--Navbar-->
        <nav>
            <!--Barra de busqueda-->
            <i class="fas fa-search"><input type="" placeholder="Buscar productos, marcas" class="icons"></i>
            <br>
            <i class="fas fa-hand-holding-usd">
                <h2 id="cuotas">Compra en Cuotas y sin tarjeta de credito</h2>
            </i>
            <ul>

                <li><a href="index.html">Ofertas</a></li>
                <li><a href="index.html">Tiendas Oficiales</a></li>
                <li><a href="index.html">Vender</a></li>
                <li><a href="index.html">Ayuda</a></li>
                <br>
                <li class="icons"><a href="index.html">Crea tu cuenta</a> <i class="far fa-address-card"></i></li>
                <li class="icons"><a href="index.html">Ingresá</a> <i class="fas fa-sign-in-alt"></i></li>
                <li class="icons" <a href="index.html">Mis Compras</a> <i class="fas fa-shopping-basket"></i></li>
            </ul>


            <!-- <i class="fas fa-bars" id="hamburguer"></i> -->

            <div class="burger-menu">
                <i class="fas fa-bars" id="hamburguer"></i>
            </div>

            <br>

        </nav>

    </header>

    <main>


        <div class="banner-container">
            <img src="images/img-home-banner.jpg" alt="img-home-banner" id="banner">
        </div>

        <section class="product-container">

            <h2>Basado en tu última visita:</h2>

            <div class="product">
                <ul>
                    <img src="images/img-cafetera-moulinex.jpg" alt="img-cafetera-moulinex" class="img">
                    <li class="price">$6.770</li>
                    <li class="sale">40% OFF</li>
                    <li class="name">Cafetera Moulinex</li>
                </ul>
            </div class="product">
            <ul>
                <img src="images/img-macbook-pro-2019.jpg" alt="img-macbook-pro-2019" class="img">
                <li class="price">$230.000</li>
                <li class="sale">20% off</li>
                <li class="name">MacBook Pro 2019</li>
            </ul>
            <div class="product">
                <img src="images/img-samsung-galaxy-s10.jpg" alt="img-samsung-galaxy-s10" class="img">
                <ul>
                    <li class="price">$70.500</li>
                    <li class="sale">10% off</li>
                    <li class="name">Samsung Galaxy S10</li>
                </ul>
            </div class="product">
            <ul>
                <img src="images/img-tv-samsung-smart.jpg" alt="img-tv-samsung-smart" class="img">
                <li class="price">$23.200</li>
                <li class="sale">5% off</li>
                <li class="name">SmartTv Samsung 43</li>
            </ul>

        </section>

        <section class="product-container">

            <h2>Ofertas:</h2>

            <div class="product">
                <ul>
                    <img src="images/img-cafetera-moulinex.jpg" alt="img-cafetera-moulinex" class="img">
                    <li class="price">$6.770</li>
                    <li class="sale">40% OFF</li>
                    <li class="name">Cafetera Moulinex</li>
                </ul>
            </div class="product">
            <ul>
                <img src="images/img-macbook-pro-2019.jpg" alt="img-macbook-pro-2019" class="img">
                <li class="price">$230.000</li>
                <li class="sale">20% off</li>
                <li class="name">MacBook Pro 2019</li>
            </ul>
            <div class="product">
                <img src="images/img-samsung-galaxy-s10.jpg" alt="img-samsung-galaxy-s10" class="img">
                <ul>
                    <li class="price">$70.500</li>
                    <li class="sale">10% off</li>
                    <li class="name">Samsung Galaxy S10</li>
                </ul>
            </div class="product">
            <ul>
                <img src="images/img-tv-samsung-smart.jpg" alt="img-tv-samsung-smart" class="img">
                <li class="price">$23.200</li>
                <li class="sale">5% off</li>
                <li class="name">SmartTv Samsung 43</li>
            </ul>


        </section>

    </main>
    <footer>

        <div id="footer-container">

            <section class="item-footer">

                <i class="fas fa-credit-card icons-footer"></i>

                <h2 class="footer-title">Pagá con tarjeta o efectivo</h2>
                <p class="footer-text">Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivo en puntos
                    de pago. ¡Y siempre es seguro!</p>

            </section>

            <section class="item-footer">

                <i class="fas fa-gift icons-footer"></i>

                <h2 class="footer-title">Envío gratis desde los $2500</h2>
                <p class="footer-text">Solo por estar registrado en MercadoLiebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>

            </section>

            <section class="item-footer">

                <i class="fas fa-user-shield icons-footer"></i>

                <h2 class="footer-title">Seguridad de principio a fin</h2>
                <p class="footer-text">¿No te gusta? ¡Devolvelo! En MercadoLiebre, no hay nada que no puedas hacer,
                    porque estás siempre protegido.</p>

            </section>

        </div>



    </footer>
</body>

</html>