@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Fuente para todos los textos Roboto */

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo del logo */

.logo-container {
    text-align: center;
}


.logo {
    width: 50%;
    height: 200px;
}

/* Estilo del Navbar */

header {
    background-color: #EAC926;
}

nav {
    /*Centramos el Navbar*/
    text-align: center;
}

nav ul {
    /*Sacamos el estilo a la lista*/
    list-style: none;
}

nav ul a {
    text-decoration: none;
    color: black;
}


#cuotas {
    font-size: 16px;
    display: inline;
    /* Lo convertí en inline para que ocupe todo el ancho y usar un salto para que quede bien */
    margin-bottom: 10px;
}

.icons {
    margin-bottom: 10px;
}

#hamburguer {

    background-color: #1259c3;
    font-size: 1em;
    color: white;
    border-radius: 2px;
    padding: 5px;

}

/* Estilo de Main*/

main {

    /* Centramos el Main*/
    width: 90%;
    text-align: center;
    margin: 0 auto;
    /*-----------------*/

    /*Convertimos al Main en un elemento de Flex*/
    display: flex;
    flex-direction: column;
    align-items: center;
    /*------------------------------------------*/

    background-color: #ebebeb;
}

main h2 {
    margin: 10px;
}

/* Estilo del Banner */

.banner-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

#banner {
    width: 100%;
    height: 150px;
}

/* Estilo Productos */

.product {
    margin-top: 5px;
    margin-bottom: 25px;
    height: 400px;
    background-color: white;

}

.product:hover{
    box-shadow: 0px 0px 10px black;
}

.product img {
    width: 50%;
    height: 200px;
    margin: 0;
}

.product-card {
    background-color: white;
    display: flex;
    flex-direction: column;
    border-top: solid 1px #ebebeb;
}

.product-card .camion {
    font-size: 0.90em;
    color: #39b54a;
    align-self: flex-start;
    margin-left: 25px;
    margin-top: 15px;
}

.camion:hover{
    animation: truck 2s forwards;
}

/* .product-card i :hover{
    animation: truck 2s forwards;
} */

@keyframes truck {
    100%{
        transform: rotate(-90deg);
    }
}

.price {
    font-size: 18px;
    align-self: flex-start;
    margin-left: 20px;
    margin-top: 15px;
}

.sale {
    font-size: 18px;
    color: #39b54a;
    align-self: flex-start;
    margin-left: 20px;
}

/* .camion{
    
} */

/* .product-container{
    display: flex;
    flex-direction: column;
} */

/* Estilo Footer */

#footer-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 15px;
}

.item-footer{
    margin-top: 15px;
    margin-bottom: 15px;
}

/* .item-footer:hover{
    background-color: #39b54a;
} */
.icons-footer{
    font-size: 1.5em;
    color: #1259c3;
    padding: 5px;
}

.icons-footer:hover{
    background-color: #39b54a;
}

.footer-title{
    font-size: 16px;
    color: #666;
}

.footer-text{
    color: #666;
}


/* ESTILOS REGISTER */

#form-container{
    display: flex;
    flex-direction: column;
}


@media (min-width: 361px) {

    .product img {
        width: 100%;
        height: 300px;
    }

    #nav-text-container {
        visibility: hidden;
    }

    .name {
        visibility: hidden;
    }

}

@media (min-width: 769px) {

    header{
        display: flex;
        height: 200px;
        
    }

    .logo-container{
        display: flex;
        position: relative;
        top: -50px;
        left: 60px;
    }
    .logo{
        width: 30%;
        height: 250px;
        position:relative;
        top: 2px;
        
    }

    /* #nav-text-container{
        display: flex;
        
    } */

    /* nav div ul{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        position: absolute;
        top: 22%;
        right: 60%;
    } */

    #nav-options{
        display: flex;
        justify-content: space-around;
        position: absolute;
        top: 23%;
        right: 75%;
    }

    nav div ul li{
        margin-left: 15px;
    }

    #login-options{
        display: flex;
        justify-content: space-around;
        position: absolute;
        top: 23%;
        right: 5%;
        
    }

    #search-options{

        display: flex;
        justify-content: space-around;
        position: absolute;
        top: 10%;
        right: 30%;
        
    }

    .cuotas{
        margin-left: 15px;
        margin-right: 15px;
    }

    


    /* ESTILOS DEL MAIN DESKTOP */
    main {
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }

    #hamburguer {
        visibility: hidden;
    }

    #banner {
        height: 340px;
    }

    #nav-text-container {
        visibility: visible;
    }

    .product img {
        width: 232px;
        height: 236px;
    }

    .product-card {
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .product-card .camion {
        font-size: 1em;
        color: #39b54a;
        align-self: flex-start;

        border: solid 2px #ebebeb;
        border-radius: 100%;
        padding: 5px;

        position: relative;
        top: -30px;
        left: 25%;


    }

   

    


    .product-card .camion :hover{
        transform: rotate(90deg);
    }

    .product-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

    }

    /* .product-container :hover{
        
            box-shadow: 0px 0px 10px rgb(100,100,100);
            transition: 1s;
        
    
    } */
    

    .product {
        width: 22%;
        height: 334px;
        margin: 5px;
        
    }
    

    .price{
        position: relative;
        right: 70%;
    }

    .sale{
        position: relative;
        bottom: 30px;
        left: -10%;
    }

    .name {
        visibility: visible;
        align-self: flex-end;
        order: -1;
        position: relative;
        top: 20px;
        left: 20px;
    }

    /* Estilos Footer */

    #footer-container{
        display: flex;
        flex-direction: row;
    }


    .item-footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    #copy{
        align-self: flex-end;
        position: absolute;
        top: 1500px;
        right: 40%;
    }


}