@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Fuente para todos los textos Roboto */

* {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: #EAC926;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

#logo-container {

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;

    flex-grow: 50%;

    margin-top: 15px;
    margin-bottom: 15px;


}

#logo-container img {

    height: 40px;
    flex-grow: 50%;


}

#search-container {

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    margin-left: 10px;

    flex-grow: 50%;

}

#search-container input {
    flex-grow: 80%;

    height: 25px;

    border: 0px solid;
    border-radius: 5px;
}

#search-container i {
    flex-grow: 20%;
    position: relative;
    font-size: 15px;
    height: 18px;
    margin-left: 2px;
    top: 5px;
    right: 10%;
    background-color: #ffff;
}

/* Estilo de Navbar */

nav{
    display: none;
}

.navbar-container{
    list-style: none;
    margin: 15px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.burguer-menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.burguer-menu i{
    font-size: 1.5em;
    color: #ffff;
    background-color: #1259c3;
    padding: 10px;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
}

/* Estilo de Main*/

#banner{
    width: 90%;
    height: 150px;
    margin-bottom: 15px;
}

main {

    /* Centramos el Main*/
    width: 90%;
    text-align: center;
    margin: 0 auto;
    /*-----------------*/

    /*Convertimos al Main en un elemento de Flex*/

    display: flex;
    flex-direction: column;
    align-items: center;

    /*------------------------------------------*/

    background-color: #ebebeb;
}


/* Estilo del Banner */

/* .banner-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

#banner {
    width: 100%;
    height: 150px;
} */

h3{
    font-size: 24px;
    margin: 15px;
}

/* Estilo Productos */

.products-container {

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;

    width: 90%;

}

.product {

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    width: 90%;
    background-color: #ffff;

    margin-bottom: 15px;

}

.product:hover{
    box-shadow: 0px 0px 10px black;
}

/* .product:hover{
    box-shadow: 0px 0px 10px black;
} */

.product img {

    width: 100%;

}

.product-card {

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;

    width: 100%;

    border-top: solid 1px #ebebeb;

}

.card-container {

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;

    width: 100%;

    margin: 15px;
}

.price-container {

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* align-items: center;
    align-items: flex-start; */
    justify-content: flex-start;


    width: 100%;

}

/* ESTILO FUENTES E ÍCONOS */

.price {
    flex-grow: 70%;

    font-size: 18px;
    
}

.sale {
    flex-grow: 30%;

    font-size: 16px;
    color: #39b54a;

    margin-left: 10px;
    margin-top: 16px;
}

.title {

    font-size: 16px;

    visibility: hidden;

}

.card-container i {

    color: #39b54a;

    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #ffff;
    border-radius: 50%;
    margin-bottom: 5px;


    display: block;
    font-size: 16px;
    position: relative;
    right: -75%;
    top: -30px;

}



.card-container i:hover{
    animation: truck 2s forwards;
} 



@keyframes truck {
    100% {
        transform: rotate(-90deg);
    }
}



/* Estilo Footer */

#footer-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

#footer-items{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.item-footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin: 15px;

    text-align: center;

    width: 27%;
}


.icons-footer {
    font-size: 1.5em;
    color: #1259c3;
    padding: 5px;
    margin-bottom: 10px;
}

.icons-footer:hover {
    color: lightblue;
}

.footer-title {
    font-size: 16px;
    color: #666;
}

.footer-text {
    color: #666;
}

.input {
    width: 80%;
    height: 50px;
    margin: 15px;
    border-radius: 10px;
}

@media (min-width: 361px) {
    /* .product {
        box-shadow: 0px 0px 10px black
    } */

    .card-container i {
        right: -82%;
    }
}


@media (min-width: 480px) {
    nav{
        display: none;
    }

    #banner{
        height: 200px;
    }
}


@media (min-width: 769px) {

    .title{
        visibility: visible;
    }

    header{
        flex-direction: row;
        justify-content: center;
        justify-content: space-around;
    }

    nav{
        width: 100%;

        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        margin-bottom: 15px;
    }

    #navbar-container-1{


        list-style: none;

        display: flex;
        flex-wrap: wrap;
        flex-direction: row;

        justify-content: center;
        justify-content: space-around;

        width: 50%;

        margin: 0;
        
    }

    #navbar-container-2{

        list-style: none;

        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: flex-end;
        justify-content: space-around;

        width: 50%;
        left: 1%;
        margin: 0;
    }

    li{
        padding: 5px;
    }

    a{
        text-decoration: none;
        color: black;
    }


    #logo-container{
        width: 50%;
        height: 150px;
        justify-content: center;
        justify-content: space-between;
    }

    #logo-container img{
        height: 70px;
        width: 40%;
    }

    #search-container{
        width: 40%;
        justify-content: center;
    }

    #search-container input{
        width: 80%;
    }

    .burguer-menu{
        display: none;
    }

    #banner{
        height: 350px;
    }

    .products-container {
        flex-direction: row;
        justify-content: center;
        justify-content: space-around;
    }

    .product {
        width: 35%;
        height: 25%;
    }

    .card-container i {
        right: -75%;
    }

    /*ESTILO FOOTER*/

    #footer-items{
        flex-direction: row;
        justify-content: center;
    }


}

@media (min-width: 1025px) {

    .product {
        width: 22%;
        height: 25%;
    }

    .card-container i {
        right: -75%;
    }

}